<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table class="container">
            <tr class="header">
                <td class="logo">
                    <a href="http://python.org">
                        <img src="static/img/mail/logo.jpg" alt="Live premailer">
                    </a>
                </td>
            </tr>
           


<td class="main-content" colspan="2">
    <table>
        <tr>
            <td class="hi">Hello guys!</td>
        </tr>
    </table>
</td>


            
            <tr>
                <td>Copyright - turkus</td>
            </tr>
        </table>
    </body>
</html>
